---
import Starfield from "~/components/starfield.astro";
import {IconLink} from "../types";
import { Icon } from "astro-icon";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";

const links: Array<IconLink> = [
  {
    url: "https://linkedin.com/in/ondrejdoskocil",
    description: "Connect with me on Linkedin",
    icon: "fa-brands:linkedin",
  },
  {
    url: "https://github.com/ondrados",
    description: "GitHub",
    icon: "fa-brands:github-alt",
  },
];
---

<section class="relative h-full bg-black">
  <Starfield />
  <div class="relative flex justify-center items-center h-full">
    <h2
      class="flex flex-col"
    >
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
      >
        Ondřej
        <br />Doskočil
      </div>
      <ul class="relative flex justify-center gap-4 text-gray-50">
        {
          links.map((link) => (
              <li>
                <a
                    class="flex h-14 w-14 md:w-16 md:h-16 items-center justify-center rounded-full border-2 border-current p-4"
                    href={link.url}
                >
                  <span class="sr-only">{link.description}</span>
                  <Icon class="h-full" name={link.icon} />
                </a>
              </li>
          ))
        }
      </ul>
    </h2>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
